# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
.nx/self-healing
# Written by the API on startup (apps/api/src/main.ts), so its formatting is whatever JSON.stringify produces
/openapi.json